name: Build

on:
  workflow_call: # This is a reusable workflow intended to be called by other jobs.
  pull_request:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        source "$HOME/.cargo/env"
        curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
        cargo binstall -y \
          mdbook@0.4.52 \
          mdbook-admonish@1.20.0 \
          mdbook-linkcheck@0.7.7 \
          mdbook-mermaid@0.16.0
    - name: Build with mdBook
      run: mdbook build
    - uses: actions/upload-artifact@v5
      with:
        name: spicy-course
        path: ./book
