name: Deploy docs to S3

on:
  push:
    branches:
    - main

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: s3
  cancel-in-progress: false

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    environment:
      name: s3
      url: https://static.zeek.org/spicy-course/index.html
    runs-on: ubuntu-latest
    needs:
    - check
    - build
    steps:
    - uses: actions/download-artifact@v4
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.STATIC_ZEEK_ORG_AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.STATIC_ZEEK_ORG_AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    - run: aws s3 sync spicy-course s3://static.zeek.org/spicy-course
